<mat-card>
  <mat-card-content>
    <form [formGroup]="searched_user" (ngSubmit)="addUser()">
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Username" formControlName="username">
        </mat-form-field>
      </p>
      <div class="button">
        <button type="submit" mat-button>Add User</button>
      </div>
    </form>
    @if(errorMessage() != '') {
      <div class="errorBox">
        {{errorMessage()}}
      </div>
    }
  </mat-card-content>
</mat-card>
<div class="user-list">
  @for(user of users; track user) {
    <mat-card (click)="setSelectedUser(user.username, user.bucketname)" [class.active]="user.username === getSelectedUser()()">
      <mat-card-content>
        {{ user.username }}
      </mat-card-content>
    </mat-card>
  }
</div>

