mat-card {
  margin: 10px 0;
}

.button {
  text-align: right;
}

.user-list {
  max-height: 80vh;
  overflow-y: auto;
}

.user-list mat-card {
  margin: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.user-list mat-card.active {
  background-color: lightblue;
  font-weight: bold;
}
